# ==========================
# Node.js
# ==========================
node_modules/

# ==========================
# Environment
# ==========================
.env
.env.local
.env.production
.env.development

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Upload Files
# ==========================
public/uploads/*
!public/uploads/.gitkeep

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# Cache
# ==========================
.cache/
coverage/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# Documentation
docs/
